{% extends "base.html" %}
{% block announce %}
  <p>
    <img alt="⚠" class="twemoji" src="https://twemoji.maxcdn.com/v/latest/svg/26a0.svg" title=":warning:" />
    The handbook website is under an major cleanup and some chores since its last update months ago. Proceed at your own risk
  </p>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script> ( function( a , b , c , d , e , f , g ) { c[d] = c[d] || function() { (c[d].q = c[d].q || []).push(arguments); }; c[ '_lsAlias' ] = c[ d ]; e = a.createElement(b); e.type = 'text/javascript'; e.async = true; e.src = 'https://app.chatsupport.co/api/client/get/script/LS-e9e8b04a'; f = function() { g = a.getElementsByTagName(b)[0]; g.parentNode.insertBefore( e , g ); }; c.addEventListener( 'load' , f ); } )( document , 'script' , window , '_ls' ); _ls( 'init' , { 'projectId' : 'LS-e9e8b04a' } ); </script>
{% endblock %}