## README
README.md @AndreiJirohHaliliDev2006 @thepinsteam

## Source files
## Everything was maintained by Andrei Jiroh for now. In the future, this may be changed.
## Contributors welcome!
/handbook-src/ AndreiJirohHaliliDev2006

## Files in .github directory
/.github/ @MadeByThePinsTeam-DevLabs

## Other stuff
* @MadeByThePinsTeam-DevLabs
