image: python:3.6

before_script:
  - pip install pymdown-extensions
  - pip install mkdocs
  - pip install mkdocs-material

pages:
  script:
    - find handbook -type f | xargs wc -w
    - mkdocs build
    - mv site public
  artifacts:
    paths:
      - public
  only:
    - staging
    - master
