# Use GitLab's Build Images to use multiple languages.
image: python:3.7

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  MKDOCS_EDIT_URI_BUILDS: "blob/$CI_COMMIT_REF_NAME/handbook"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V  # Print out python version for debugging
  # comming soon!
  # - ruby -V # Print out ruby version for debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

stages:
  - install
  - build
  - dry-run
  - triage
  - deploy

dependency_installer:
  stage: install
  script:
    - pip install -r requirements.txt
    # - gem install gitlab-triage

dry-run:mkdocs_buildTester:
  stage: dry-run
  script:
    - bash ./scripts/builds/gitlab-pages/mkdocs_build.sh
  artifacts:
    paths:
      - site
    expire_in: 7 days
  only:
    refs:
      - branches
  except:
    - master
    - staging

mkdocs_build:
  stage: build
  script:
    - bash ./scripts/builds/gitlab-pages/mkdocs_build.sh
  artifacts:
    paths:
      - site
    expire_in: 7 days
  only:
    refs:
      - staging
      - master

words_counter:
  stage: build
  script: 
    - bash ./scripts/builds/count-words.sh
  allow_failure: true

dry-run:triage-ops:
  image: ruby:latest
  stage: dry-run
  script: 
    - bash ./scripts/dry-runs/gl-triage-ops.sh
  only:
    - manual
  except:
    - schedules

triage-ops:
  image: ruby:latest
  stage: triage
  script:
    - gem install gitlab-triage
    # Use your own token! Do not steal.
    - gitlab-triage --token $API_TOKEN --source-id  --host-url $HOST_URL
  only:
    - schedules
  except:
    - manual

pages:
  stage: deploy
  script:
    - mv site public
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    refs:
      - staging
      # Will be removed after merging !1.
      - AndreiJirohHaliliDev2006-master-patch-50547
