## Adopted from https://github.com/fire1ce/3os.org/blob/master/requirements.txt
## Minus the Regex stuff (e.g. package-name-py==xx.yy.zz or package-name-py2>=xx.yy.zz)
Babel
beautifulsoup4
certifi
chardet
click
future
gitdb
GitPython
htmlmin
idna
Jinja2
joblib
jsmin
livereload
lunr
Markdown
MarkupSafe
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
nltk
pep562
pyembed
pyembed-markdown
Pygments
pymdown-extensions
pytz
PyYAML
regex
requests
six
smmap
soupsieve
tornado
tqdm
urllib3