## Install the rquired
Pygments
Markdown>=3.2.1
pymdown-extensions

## Then, install the base package and theme
mkdocs
mkdocs-material

## Now, the plugins...
mkdocs-redirects
mkdocs-material-extensions
mkdocs-git-revision-date-localized-plugin
