## README
README.md @AndreiJirohHaliliDev2006 @thepinsteam

## Documentation
/handbook/ @MadeByThePinsTeam-DevLabs

## Files in .gitlab directory
/.gitlab/ @MadeByThePinsTeam-DevLabs

## Other stuff
* @MadeByThePinsTeam-DevLabs